body {
    padding: 0;
    margin: 0;   
}

.container-login {
    margin: 300px;
    border: 1px solid slateblue;
    border-radius: 10px;
    padding: 24px;
    background-color: white;
}

.center {
    display: flex;
	align-items: center;
	justify-content: center;
}

.button-find {
    background-color: slateblue !important;
}